<ul>
    <h1>
        <tr>Francisco Ramírez Sánchez</tr>
        <hr width="400" size="6" color="#000000">
    </h1>
    <li id="div1">
        <img src="../../../assets/icons/img1.JPG" width="400" height="600">
    </li>
    <li id="div2">
        <h4>Este es mi proyecto sobre Angular en el cual he <br>
            creado una aplicación web para poder gestionar <br>
            nuestras notas las cuales las almaceno en una<br>
            base de datos, en este caso he usado firebase <br>
            para gestionar la información y la autenticacion<br>
            de google para poder acceder a nuestras notas y<br>
            verificar que somo nosotros<br>
        </h4>
    </li>
    <li id="div2">
        <a href="//github.com/PacoRS/Notea.git" target="_blank"><img src="../../../assets/icons/img2.png" width="50"
                height="50"></a>
        <a href=mailto:aframsan0503@g.educaand.es? target="_blank"><img src="../../../assets/icons/img3.png" width="50"
                height="50"></a>
    </li>
</ul>
<!-- src = 'https://source.unsplash.com/random'-->